/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: url("assets/site-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	color:#fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.left-nav {
	width: 60px;
	height: 300px;
	float:left;
	box-sizing: border-box;
	margin: 43px 0 0 0;
}

.left-nav li {
	height: 60px;
	box-sizing: border-box;
	border-bottom: 1px #495279 solid;
	background-color: #697293; 
	display: flex;
	align-items: center;
	justify-content: center;
}

.left-nav .active {
	background-color: rgba(0, 0, 0, 0.2);
}

.left-nav img {
	display: block;
}

.center-wrapper {
	width: 820px;
	margin: 107px auto 0 auto;
}

.social{
	width: 270px;
	height: 33px;
	float: right;
}

.social li {
	float: right;
}

section {
	background-color: rgba(0, 0, 0, 0.2);
	width: 820px;
	height: auto;
	box-sizing: border-box;
}

.section-tab {
	width: 198px;
	height: 60px;
	float:left;
	position: relative;
}

.icon-image {
	position: absolute;
	top: 10px;
	left: 10px;
}

.heading-wrapper {
	width: 118px;
	height: 60px;
	float: left;
	position: absolute;
	top: 0px;
	left: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tab-heading {
	font-size: 25px;
}

.profile {
	float:left;
	margin: 10px 0 0 0;
}

.profile-content {
	width: 700px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}

.info-wrapper {
	float:left;
	width: 270px;
	margin: 30px 50px 0 0;
}

.name {
	font-size: 30px;
	margin: 0 0 18px 0;
}

.title {
	font-size: 25px;
	color: #757b87;
	margin: 0 0 16px 0;
}

.circle {
	border-radius: 50%;
	width: 140px;
	height: 140px;
	background-color: #fff;
	box-shadow: 0 0 0 10px #000;
	margin: 0 0 10px 10px;
}

.about-me-wrapper {
	float: left;
	width: 380px;
	margin: 30px 0 0 0;
}

.about-me-title {
	font-size: 30px;
	margin: 0 0 25px 0;

}

.resume {
	float:left;
}

.download {
	float: right;
	width: 160px;
	height: 60px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
}

.download a {
	display: block;
	height: 60px;
}

.download span {
	display: block;
	margin: 10px 0 5px 0;
	font-weight: 100;
}

.resume-content {
	width: 644px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}

.resume-content h2 {
	font-size: 25px;
	margin: 30px 0 20px 0;
}

.employment-wrapper {
	float:left;
	width: 282px;
	margin: 0 50px 0 0;
}

.education-wrapper {
	float:left;
	width: 282px;
}

.place {
	box-sizing: border-box;
	border-left: 8px solid #fff;
	position: relative;
	margin: 0 0 0 6px;
	padding: 0 0 0 27px;
}

.resume-circle {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #37bc9b;
	position: absolute;
	top: -1px;
	left: -14px;
}

.house-icon {
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px 0 0;
}

.place-name {
	width: 150px;
	display: inline-block;
	font-size: 17px;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	text-overflow: ellipsis;
}

.date-occurred {
	font-size: 13px;
	vertical-align: bottom;
}

.achievement {
	margin: 20px 0 0 20px;
	font-size: 15px;
}

.experience {
	margin: 11px 0 0 20px;
	font-size: 13px;
	color: #a6abac;
	padding: 0 0 60px 0;
}

.place:last-of-type .experience {
	padding: 0;
	margin: 11px 0 50px 20px;	
}

.my-skills-wrapper {
	width: 644px;
	margin: 0 auto 43px auto;
	overflow: hidden;
	text-align: center;
}

.my-skills-wrapper h2 {
	text-align: center;
	font-size: 25px;
	margin: 0 0 25px 0;
}

.skill {
	float: left;
	width: 33%;
}

.skill-logo {
	width: 30px;
	height: 32px;
	border: 1px solid #fff;
	margin: 0 10px 0 0;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
}

.skill-name {
	font-weight: 100;
}

.html-circle {
	width: 67px;
	height: 67px;
	box-sizing: border-box;
	margin: 27px auto 0 auto;
	border-radius: 50%;
	position: relative;
	text-align: center;
	background-color: #ff5052;
	background-image: linear-gradient(90deg, #000 50%, transparent 50%), linear-gradient(-90deg, transparent 50%, #000 50%);

}

.css-circle {
	width: 67px;
	height: 67px;
	box-sizing: border-box;
	margin: 27px auto 0 auto;
	border-radius: 50%;
	position: relative;
	text-align: center;
	background-color: #3bafda;
	background-image: linear-gradient(54deg, #000 50%, transparent 50%), linear-gradient(-90deg, transparent 50%, #000 50%);

}

.js-circle {
	width: 67px;
	height: 67px;
	box-sizing: border-box;
	margin: 27px auto 0 auto;
	border-radius: 50%;
	position: relative;
	text-align: center;
	background-color: #ffce54;
	background-image: linear-gradient(43deg, #000 50%, transparent 50%), linear-gradient(-90deg, transparent 50%, #000 50%);
}

.skill-circle {
	position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color: #505365;

}

.skill-percentage {
	font-weight: 100;
	line-height: 57px;
	font-size: 15px;
}

.portfolio {
	float:left;
}

.contact {
	float: left;
}

.contact-content {
	width: 644px;
	height: auto;
	margin: 0 auto;
}

.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 410px 0 410px;
	border-color: rgba(0, 0, 0, 0.2) transparent;
	float: left;
	margin: 0 0 53px 0;
	position: relative;
}

.section-up-arrow {
	position: absolute;
	top: -33px;
	left: -13px;
}

.top-link {
	width: 70px;
	height: 40px;
	float: right;
	box-sizing: border-box;
	border: white solid 1px;
	margin: 700px 0 0 0;
}